body{
    font-family:sans-serif,Microsoft JhengHei;
}
.custom-file-upload {
    border-radius: 40% 40% 0% 0%;
    background-color: rgb(230, 230, 230);
    font-size: 40px;
    width:auto;
    height: 50px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}
input[type="file"] {
    display: none;
}
#picID{
    height:auto;
    width:190px;
    word-wrap:break-word;
    padding:0px;
}
.imageDiv{
    width:300px;
    height:300px;
    position: relative;
}
.image{
    position: absolute;
    max-height: 100%;  
    max-width: 100%; 
    top: 0;  
    bottom: 0;  
    left: 0;  
    right: 0;  
    margin: auto;
    transition: 0.3s ease-in-out;
}
.image:hover{
    transform: scale(2);
    z-index:2;
}


.outerTable{
    border:1px #cccccc solid;
    font-size: 25px;
    width : 90%;
}
.outerTable tr,td{
    /* width:300px; */
    border-top:2px #cccccc solid;
    padding-left:10px;
    padding-right:10px;
}
.pic_attribute_td{
    width:10%;
}
.pic_td{
    width:20%;
}
.time_td{
    width:10%;
}
.delete_td{
    width:10%;
}
.pic_data_td{
    height:auto;
    width:15%;
}
.innerTable{
    /* border:3px #cccccc solid; */
    width:600px;
}
.innerTable td{
    border-top:1px #cccccc solid;
    width:auto;

}
.innerTable input,select{
    width:300px;
    height:30px;
    font-size: 20px;
}
textarea{
    height:100px;
    width:300px;
    resize: none;
}

.hallPreview{
    height:100%;
    display:flex;
    flex-direction: column;
    justify-content: center; 
    position: fixed;
    right:0px;
    top:0px;
}
.hallPreview a{
    width:100px;
    height:100px;
}
.hallPreview img{  
    width:100px;
    transition: 0.3s ease-in-out;
}
.hallPreview img:hover{   
    transform: scale(8);
    transform-origin: right;
    z-index:4;    
}
.operation{
    display:flex;
    justify-content: center;
    position:fixed;
    width:  100%;
    height: auto;
    bottom: 0px;
}
.operation button{
    border-radius: 30px;
    background-color:rgb(230, 230, 230);
    font-size: 30px;
    width:200px;
    height: 50px;
}
.operation button:hover{
    background-color: rgb(115, 115, 115);
    font-size: 30px;
    width:200px;
    height: 50px;
}
.operation div{
    flex:none;
}